In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
divorce_dataset = pd.read_csv('divorce_data.csv',sep=';')

In [3]:
divorce_dataset.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Divorce
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [4]:
divorce_dataset.shape

(170, 55)

In [5]:
divorce_dataset['Divorce'].value_counts()

0    86
1    84
Name: Divorce, dtype: int64

In [6]:
X = divorce_dataset.drop (columns='Divorce', axis=1)
Y = divorce_dataset['Divorce']

In [7]:
print(X)

     Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10  ...  Q45  Q46  Q47  Q48  Q49  \
0     2   2   4   1   0   0   0   0   0    0  ...    3    2    1    3    3
1     4   4   4   4   4   0   0   4   4    4  ...    2    2    2    3    4
2     2   2   2   2   1   3   2   1   1    2  ...    2    3    2    3    1
3     3   2   3   2   3   3   3   3   3    3  ...    3    2    2    3    3
4     2   2   1   1   1   1   0   0   0    0  ...    2    2    1    2    3
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
165   0   0   0   0   0   0   0   0   0    0  ...    0    1    0    4    1
166   0   0   0   0   0   0   0   0   0    0  ...    3    4    1    2    2
167   1   1   0   0   0   0   0   0   0    1  ...    2    3    0    2    0
168   0   0   0   0   0   0   0   0   0    0  ...    4    3    3    2    2
169   0   0   0   0   0   0   0   1   0    0  ...    1    3    4    4    0

     Q50  Q51  Q52  Q53  Q54
0      3    2    3    2    1
1      4    4    4    2    2
2      1    1    2    2    2
3      3    3    2    2    2
4      2    2    2    1    0
..   ...  ...  ...  ...  ...
165    1    4    2    2    2
166    2    2    3    2    2
167    1    1    3    0    0
168    3    2    4    3    1
169    1    3    3    3    1

[170 rows x 54 columns]

In [8]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
165    0
166    0
167    0
168    0
169    0
Name: Divorce, Length: 170, dtype: int64

In [9]:
scaler = StandardScaler()

In [10]:
scaler.fit(X)

StandardScaler()

In [11]:
standarized_data = scaler.transform(X)

In [12]:
print(standarized_data)

[[ 0.13777162  0.23700896  1.58388339 ...  0.32764372 -0.16065589
  -0.60850749]
 [ 1.37046505  1.60282332  1.58388339 ...  1.00690508 -0.16065589
  -0.00707567]
 [ 0.13777162  0.23700896  0.16672457 ... -0.35161765 -0.16065589
  -0.00707567]
 ...
 [-0.4785751  -0.44589822 -1.25043425 ...  0.32764372 -1.49292424
  -1.20993931]
 [-1.09492181 -1.12880539 -1.25043425 ...  1.00690508  0.50547829
  -0.60850749]
 [-1.09492181 -1.12880539 -1.25043425 ...  0.32764372  0.50547829
  -0.60850749]]

In [13]:
X = standarized_data
Y = divorce_dataset['Divorce']

In [14]:
print(X)
print(Y)

[[ 0.13777162  0.23700896  1.58388339 ...  0.32764372 -0.16065589
  -0.60850749]
 [ 1.37046505  1.60282332  1.58388339 ...  1.00690508 -0.16065589
  -0.00707567]
 [ 0.13777162  0.23700896  0.16672457 ... -0.35161765 -0.16065589
  -0.00707567]
 ...
 [-0.4785751  -0.44589822 -1.25043425 ...  0.32764372 -1.49292424
  -1.20993931]
 [-1.09492181 -1.12880539 -1.25043425 ...  1.00690508  0.50547829
  -0.60850749]
 [-1.09492181 -1.12880539 -1.25043425 ...  0.32764372  0.50547829
  -0.60850749]]
0      1
1      1
2      1
3      1
4      1
      ..
165    0
166    0
167    0
168    0
169    0
Name: Divorce, Length: 170, dtype: int64

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2, stratify=Y, random_state=2)

In [16]:
print(X.shape, X_train.shape, X_test.shape)

(170, 54) (136, 54) (34, 54)

In [17]:
classifier = svm.SVC(kernel='linear')

In [18]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [19]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [20]:
print('Akurasi data training adalah = ', training_data_accuracy)

Akurasi data training adalah =  1.0

In [21]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [22]:
print('Akurasi data testing adalah = ', test_data_accuracy)

Akurasi data testing adalah =  1.0

In [23]:
input_data = (2,	2,	4,	1,	0,	0,	0,	0,	0,	0,	1,	0,	1,	1,	0,	1,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	0,	0,	0,	1,	1,	2,	1,	2,	0,	1,	2,	1,	3,	3,	2,	1,	1,	2,	3,	2,	1,	3,	3,	3,	2,	3,	2,	1,
)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

std_data = scaler.transform(input_data_reshape)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
    print('pasangan tidak memilih perceraian')
else :
    print('pasangan memilih perceraian')

[[ 0.13777162  0.23700896  1.58388339 -0.32159088 -0.94704019 -0.82879176
  -0.55143948 -0.94235692 -0.93912449 -1.1122726  -0.41908573 -1.12880539
  -0.56665973 -0.38081405 -1.04548435 -0.31768615 -1.02682706 -0.97198758
  -1.00304568 -0.29609248 -0.95881105 -0.86465095 -0.87834928 -1.00787414
  -1.06806605 -0.99479171 -0.96366543 -0.89232217 -0.94110228 -0.3294143
  -0.68420117 -0.03634082 -0.45275714  0.06151149 -0.90950926 -0.33789385
  -0.05156954 -0.49651823  0.5318177   0.63069239  0.00342657 -0.73838724
  -1.26880948  0.03502847  0.36186834 -0.4042721  -0.80306832  0.22823984
   0.40981559  0.40728629 -0.37919669  0.32764372 -0.16065589 -0.60850749]]
[1]
pasangan memilih perceraian

c:\Users\calleb\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [24]:
import pickle

In [25]:
filename = 'divorece_model.sav'
pickle.dump(classifier, open(filename, 'wb'))